@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'PT Sans', sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.header_right a{
    color: #969696;;
}
.header_right a:hover{
     color: #FFFFFF; 
    }
.header_right{
    align-items: center;
    margin-top: 30px;
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
    width: 50%;
}
main{
    background-image: url(./img/Rectangle\ 3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}
/* main start */
   .main_div{
    width: 320px;
    height: 320px;
    border: 2px solid white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 80px;
   }
   .main_div div{
    margin: 0 auto;
   } 
   .main_div div img{
    width: 185px;
   }
   hr{
    width: 179px;
    margin-left: 3px;
   }
   .p{
    text-align: center;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
    
   }
   .main_div div p{
    font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;

   }

/* main end */

.top{
    display: flex;
    height: 70vh;

}
.newsss hr{

    margin-bottom: 80px;
}
.news{
    margin-left: 70px;
}
.season{
    width: 55%;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center ;
}
.new{
    width: 45%;
    background-image: url(./img/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 100px;
}
.clocks{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.clock div{
    padding: 35px 12px;
    width: 130px;
    height: 200px;
    background-color: #191B1C;
}
.clock img{
    width: 190px;
    height: 190px;
}
.clock{
    width: 27%;
}
.new hr{
    margin: 20px 0;
}
.collection{
    font-family: 'Playfair Display', serif;
}
.top div h1{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}
.new p{
    border: 2px solid white;
    padding: 10px 20px;
}
.bottom{
    height: 70vh;
    display: flex;
}
.coll18{
    background-color: black;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.costumes{
    width: 45%;
    height: 100%;
    background-image: url(./img/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.lorem{
    width: 470px;
    text-align: center;
}
/* clocks time */
   .clocks div img{
    width: 190px;
    height: 190px;
   }
   .clock div{
    width: 210px;
    height: 250px;
   }
   .newsss>h1{
    margin-top: 120px;
    margin-bottom: 120px;
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

/* white */

color: #FFFFFF;

   }
/* clocks sleep */
.company>h1{
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

/* white */

color: #FFFFFF;
margin-top: 150px;
}
.hr2{
    display: flex;
    justify-content: center;
}
.newsss>h1{
    margin-bottom: 40px;
}
.company hr{
    margin-top: 40px;
    margin-bottom: 40px;
}
.brands{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.company{
    background-color:  #0F0F0F;
    margin-top: 150px;
    height: 362px;
}
.footer{
    background-image: url(./img/Rectangle\ 15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    background-position: center;
}
.comments{
    display: flex;
    height: 100%;   
    justify-content: space-between;
}
.conteiner{
    width: 70%;
    margin: 0 auto;
}
.footer .cate{
    width: 33%;
}
.footer .cate h1{
    margin-bottom: 30px;
}
.aa{
    display: flex;
    flex-wrap: wrap;
}
.aa a{
    padding: 10px;
    text-decoration: none;
    background-color: #0F0F0F;
    margin: 10px 5px;
    color: white;
}

.menu{
    display: none;
}
.comments>div{
    margin-top: 5vh;
}
.cate div{
    display: flex;
    margin-top: 3vh;
}
#text{
    padding: 12px 15px;
    width: 200px;
    background: rgba(255, 255, 255, 0.4);
}
#submit{

    padding: 10px 20px;
    color: white;
    background-color: black;
}











@media (max-width: 576px) {
    .header_right{
        display: none;
    }
    .menu{
        display: inline-block;
        width: 100px;
        
    }
    .p p{
        width: 90%;
    }
    .main_div{
        width: 220px;
        height: 220px;
    }   
    .top, .bottom{
        height: 140vh;
        flex-direction: column;
    }
    .season, .new{
        width: 100%;
        height: 50%;
    }
    .costumes, .coll18{
        width: 100%;
        height: 50%;
    }
    .coll18{
        order: 1;
    }
    .costumes{
        order: 2;
    }
    .news .clocks{
        flex-wrap: wrap;
    }
    .news .clock{
        width: 40%;
    }
    .brands .brand{
      flex-wrap: wrap;
    }
    .brands div img{
        width: 40%;
    }
    .footer{
       height: 120vh;
    }
    .clocks div img{
        height: 150px;
    width: 150px;
    }
    .clock div{
        width: 119px;
    height: 193px;
}
.lorem{
    width: 100%;
}
.news{
    margin-left: 5px;
}
.news .clocks .clock div{
    width: 160px;
}
.brand{
    text-align: center;
}
#submit{
    margin-top: 2vh;

    }
    #text{
        width: 100%;
    }
    .cate div{
        flex-direction: column;
    }
    .footer .conteiner .cate{
        display: flex;
        flex-direction: column;
    }
    .comments{
        flex-direction: column;
    }
    .footer .cate{
        width: 100%;
        margin: 15px 0;
    }

}